// Clearfix - Taken from http://cssmojo.com/the-very-latest-clearfix-reloaded/
@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

// Lock aspect ratio
@mixin ratio($width: 1, $height: 1) {
  overflow: hidden;
  position: relative;
  padding-bottom: percentage($height/$width);
  height: 0;
}

@mixin ratio-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin center-translate {
  transform: translate3d(-50%, -50%, 0);
}

@mixin text-stroke($offset, $color) {
  text-shadow: $offset 0 $color, 0 ($offset / 1.5) $color, ($offset / 2) 0 $color, ($offset / 2) ($offset / 2) $color, -#{$offset / 2} 0 $color, 0 -#{$offset / 1.5} $color, -#{$offset / 1} -#{$offset / 2} $color, -#{$offset} 0 $color;
}

// Better text underlines
@mixin smart-underline($color: red, $stroke: white, $stroke-width: .1em, $offset: .1em, $selection: #b5d6fa) {
  @include text-stroke($offset, $stroke);
  background-image: linear-gradient(to right, $color 0%, $color 100%);
  background-repeat: repeat-x;
  background-position: 0 96%;
  background-size: 100% $stroke-width;
  text-decoration: none;

  &::selection {
    text-shadow: none;
    background: $selection;
  }

  &::-moz-selection {
    text-shadow: none;
    background: $selection;
  }
}

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Push-left grid inspired by neat 2.0
@function grid-item($columns, $grid-columns, $gutter) {
  @return calc(percentage($columns / $grid-columns) - $gutter + 
  ($gutter * percentage($columns / $grid-columns)));
}
